# Run k6 Performance Tests

parameters:
  - name: testScript
    displayName: Select a Test Script
    type: string
    default: basicJourneysScriptPreProd
    values:
      - basicJourneysScriptAuto
      - basicJourneysScriptPreProd

trigger: none

pool:
  vmImage: ubuntu-latest

steps:
  - task: k6-load-test@0
    env:
      K6_WEB_DASHBOARD: true
      K6_WEB_DASHBOARD_EXPORT: tests/results/${{ parameters.testScript }}Report.html
      SECRET_DATA: $(SECRET_DATA)
    inputs:
      args: -e SECRET_DATA=$(SECRET_DATA)
      filename: src/scripts/${{ parameters.testScript }}.js
    displayName: "Run k6 ${{ parameters.testScript }} Test"

  - publish: $(System.DefaultWorkingDirectory)/tests/results/${{ parameters.testScript }}Report.json
    artifact: k6-report-json
    condition: always()
    displayName: Publish k6 Test Report JSON

  - publish: $(System.DefaultWorkingDirectory)/tests/results/${{ parameters.testScript }}Report.html
    artifact: k6-report-html
    condition: always()
    displayName: Publish k6 Test Report HTML
